<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ending_div" th:fragment="end">
        <div class="ending_div_img">
            <img src="./images/footer_logo.png">
            <span>叩丁狼是一家专注于培养高级IT技术人才，为学员提供定制化IT职业规划方案及意见咨询服务的教育科技公司，为您提供海量优质课程，以及创新的线上线下学习体验，帮助您获得全新的个人发展和能力提升.</span>
        </div>
    
        <div class="ending_div_company">
            <ul>
                <li>公司简介</li>
                <li>路线地址</li>
                <li>报名流程</li>
                <li>媒体报道</li>
                <li>讲师专访</li>
                <li>培训问题</li>
                <li>技术专区</li>
            </ul>
            <div><span>全国资讯热线</span><span>020-85628002</span></div>
        </div>
    </div>
</body>
</html>